.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 175px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 3px;

    .text {
        user-select: none;
        font-size: 16px;
        margin-left: 5px;
    }
}