.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.container {
    width: 400px;
    height: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.logocontainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputcontainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}