@tailwind base;
@tailwind components;
@tailwind utilities;

header {

}

h1 {
  color: red;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  margin-left: 8%;
  margin-right: 8%;
  height: calc(100vh - 91px);
}

.feed {

}